/*------------------------------------------------ Best idea Form ------------------------------------------------*/



.mg-auto{
    margin: auto;
}
.wrth90{
    width: 90%;
}



.navbar{
    background-color:#ff4b6c;
}
.navbar a{
    color:white;
    font-weight: bold;
}



.formdiv h4{
    text-align:center;
   
    padding-top: 20px;
}
.formdiv label{
    margin-top: 20px;
    margin-bottom:0px
}
.formdiv button{
    width:20%;
    border-radius:3px;
    border:none;
    margin:30px 40%;
    background-color:#ff4b6c;
    color:white;
    padding: 5px;
    font-size: 15px;
}
.undrstandingtext{
    text-align:center;
    font-size: 30px;
}
.lefttextdiv{
    display:flex;
    flex-wrap: wrap;
    
}

.lefttext h4{
    font-size: 25px;
    color: #FF4B6C;
}
.lefttext p{
    font-size: 15px;
}
.righttextdiv{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.righttext{
    width:25%;
}
.righttext h4{
    font-size: 25px;
    text-align: right;
    color: #FF4B6C;
}
.righttext p{
    font-size: 15px;
    text-align: right;
    
}
.explaintion{
    font-size: 20px;
    font-family: var(--font_roboto);
    font-weight: 400;
}
.container mt-4{
    flex-direction:column-reverse;
}




/*------------------------------------------------- Work with us Form -------------------------------------------------*/
