.mg-auto{
    margin: auto;
}
.wrth90{
    width: 90%;
}



.navbar{
    background-color:#ff4b6c;
}
.navbar a{
    color:white;

  
}
.formdiv{
  box-shadow: 2px 2px 10px rgb(156, 156, 156);
  width: 50%;
  margin: 50px auto;
  
}


.formdiv h4{
    text-align:center;
    padding-top: 20px;
}
.formdiv label{
    margin-top: 20px;
    margin-bottom:0px
}
.formdiv button{
    width:20%;
    border-radius:3px;
    border:none;
    margin:30px 40%;
    background-color:#ff4b6c;
    color:white;
    padding: 5px;
    font-size: 15px;
}
.undrstandingtext{
    text-align:center;
    font-size: 30px;
}
.lefttextdiv{
    display:flex;
    flex-wrap: wrap;
    
}

.lefttext h4{
    font-size: 25px;
    color: #FF4B6C;
}
.lefttext p{
    font-size: 15px;
}
.righttextdiv{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.righttext{
    width:25%;
}
.righttext h4{
    font-size: 25px;
    text-align: right;
    color: #FF4B6C;
}
.righttext p{
    font-size: 15px;
    text-align: right;
    
}
.explaintion{
    font-size: 20px;
    font-family: var(--font_roboto);
    font-weight: 400;
}
.container{
    flex-direction:column-reverse;
}


/* Footer */



.futter{
    background-color:var(--black_color);
    padding: 10px 0;
    text-align: center;
}
.futterhdng{
    color: var(--white_color);
    font-size: var(--p_18px);
    font-family:var(--font_inter);
    font-weight: 400;
    margin: 0px;
}

.arrowpara{    
  font-size: var(--p_18px);
  font-family: var(--font_roboto);
  font-weight: 400;
}

.roundedlogo {
    width: 20%;
}
.socialicon a {
    border-radius: 50%;
    border-width: 2px;
}
/* ............................volunteer section ............................. */
.joinbox{
    text-align: center;
    padding: 20px 0px;
}
.volunteerstar{
    text-align: center;
    padding: 20px 0px;
}
.teamcard{
    box-shadow: 0px 0px 8px rgb(0, 0, 0)!important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(158, 156, 156);
}
body{
    background:#eee;
    margin-top:20px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
.volunteer{
    /* text-align: center; */
    padding: 20px 0px;
}


/* /-------------------------------------------- MEDIA QUERY Width Max 991px --------------------------------------------/ */

@media (max-width:991px) {
  
    .textdiv h2{
      font-size: 25px;
    
  }
    .textdiv h4{
      font-size: 20px;
    
  }
    .textdiv p{
      font-size: 15px;
    
  }
  
  
}

@media (max-width:767px) {
  
    .formdiv{
      width: 80%;
      margin: 50px auto;
    }
  
  
}